*{
    margin:0;
    border:0;
    box-sizing: border-box;
}

/* header style */
.head{
    display: flex;
    border:1px solid black;
    width:100%;
    height: 90px;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
#logoimg{
    height: 50px;
    width:50px;
}
.head > a{
    color:white;
    text-decoration: none;
}
.head > a:hover{
    border:1px solid red;
    padding: 10px;
    border-radius: 5px;
    background-color:red; 
    box-sizing: border-box;
}

/* title  style */
.title{
    position: relative;
    width: 100%;
    height: 80px;
}
.titlenm{
    position: absolute;
    width:100%;
    height: 80px;
    color: red;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
    
}

/* table container  style */

#table_container{
    position: relative;
    height:auto;
}
#getbtn1{
    position: absolute;
    border:2px solid blue;
    left:43%;
    top:2%;
    color:white;
    font-size: 15px;
    border-radius: 23px;
    padding: 10px;
    background-color: blue;
}
.btn,.btn23{
    border:2px solid red;
    padding:5px;
    color:white;
    border-radius: 3px;
    background-color:red;
}
#table{
    position: absolute;
    top:70px;
    left:10%;
    width:950px;
}

.container mt-3{
    position: relative;
}
.form1{
    position: absolute;
    border:2px solid lavender;
    padding:40px;
    border-radius: 10px;
    width:700px;
    left:25%;
    top:42%;
}

.newcontact{
    position: absolute;
    left:43%;
    top:45%;
}

@media screen and (min-width: 290px) and (max-width: 481px) {
    
    .head{
        width:480px;
        height: 90px;
    }
    #logoimg{
        height: 40px;
        width:40px;
    }
    .head > a{
        font-size: 14px;
    }
    .title{
        position: relative;
        width: 480px;
        height: 100px;
    }
    .titlenm{
        position: absolute;
        color: green;
        font-size: 25px;
        font-weight: bold;
        padding-top: 30px;
        left:20%;
        
    }
    #table_container{

        position: relative;
        height:auto;
    }
    #getbtn1{
        position: absolute;
        left:32%;
        font-size: 18px;
        border-radius:63px;
        background-color: red;
        border:2px solid red;
    }
    .btn23{
        border:2px solid red;
        padding:5px;
        color:white;
        border-radius: 3px;
        font-size: 10px;
        background-color:red;
        margin:5px;
    }
    #table{
        position: absolute;
        top:100px;
        left:2%;
        width:465px;
    }

    .container mt-3{
        position: relative;
        width: 480px;
    }
    .form1{
        position: absolute;
        left:13%;
        width: 350px;
        top:35%;
    }
    /* new contact style */
    .newcontact{
        position: absolute;
        left:35%;
        font-size: 17px;
        color:red;
        top:37%;
    }
}

@media screen and (min-width: 481px) and (max-width: 690px) {

    .head{
        width:690px;
        height: 90px;
    }
    
    #logoimg{
        height: 43px;
        width:43px;
    }
    .head > a{
        font-size: 15px;
    }
    
    .title{
        position: relative;
        width: 690px;
        height: 100px;
    }
    .titlenm{
        position: absolute;
        color: black;
        font-size: 28px;
        font-weight: bold;
        padding-top: 30px;
        left:30%;
        
    }
    #table_container{

        position: relative;
        height:auto;
    }
    #getbtn1{
        position: absolute;
        left:40%;
        font-size: 20px;
        border-radius:63px;
        background-color: red;
        border:2px solid red;
    }
    .btn23{
        border:2px solid red;
        padding:5px;
        color:white;
        border-radius: 3px;
        font-size: 15px;
        background-color:red;
        margin:10px;
    }
    #table{
        position: absolute;
        top:100px;
        left:2%;
        width:670px;
    }
    .container mt-3{
        position: relative;
        width: 690px;
    }
    .form1{
        position: absolute;
        left:18%;
        width: 450px;
        top:35%;
    }
    /* new contact style */
    .newcontact{
        position: absolute;
        left:43%;
        font-size: 17px;
        color:red;
        top:37%;
    }

}

@media screen and (min-width: 691px) and (max-width: 992px) {
    .head{
        width:992px;
        height: 90px;
    }
    
    #logoimg{
        height: 43px;
        width:43px;
    }
    .head > a{
        
        font-size: 20px;
    }
    .title{
        position: relative;
        width: 992px;
        height: 100px;
    }
    .titlenm{
        position: absolute;
        color: blue;
        font-size: 28px;
        font-weight: bold;
        padding-top: 30px;
        left:35%;
    }
    #table_container{
        position: relative;
        height:auto;
    }
    #getbtn1{
        position: absolute;
        left:40%;
        font-size: 25px;
        border-radius:63px;
        background-color: red;
        border:2px solid red;
    }
    .btn23{
        border:2px solid red;
        padding:5px;
        color:white;
        border-radius: 3px;
        font-size: 18px;
        background-color:red;
        margin:15px;
    }
    #table{
        position: absolute;
        top:100px;
        left:5%;
        width:870px;
    }
    .container mt-3{
        position: relative;
        width: 992px;
    }
    .form1{
        position: absolute;
        left:25%;
        width: 500px;
        top:35%;
    }
    /* new contact style */
    .newcontact{
        position: absolute;
        left:43%;
        font-size: 20px;
        color:red;
        top:37%;
    }
}

/* @media screen and (min-width: 993px) and (max-width: 1551px) {
    .head{
        width:1551px;
        height: 120px;
    }

    #logoimg{
        height: 53px;
        width:53px;
    }
    .head > a{
        
        font-size: 27px;
    }
    .title{
        position: relative;
        width: 1551px;
        height: 100px;
    }
    .titlenm{
        position: absolute;
        color: red;
        font-size: 33px;
        font-weight: bold;
        padding-top: 30px;
        left:35%;
    }
    #table_container{
        position: relative;
        height:auto;
    }
    #getbtn1{
        position: absolute;
        left:40%;
        font-size: 30px;
        border-radius:63px;
        background-color: red;
        border:2px solid red;
    }
    .btn23{
        border:2px solid red;
        padding:5px;
        color:white;
        border-radius: 3px;
        font-size: 20px;
        background-color:red;
        margin:5px;
    }
    #table{
        position: absolute;
        top:100px;
        left:17%;
        width:990px;
    }
    .container mt-3{
        position: relative;
        width: 1551px;
    }
    .form1{
        position: absolute;
        left:25%;
        width: 700px;
        top:35%;
    }
    
    .newcontact{
        position: absolute;
        left:43%;
        font-size: 25px;
        color:red;
        top:37%;
    }
} */